.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  transform: scale(0.9);
}
.card-container .card {
  flex: 1 1 calc(33.333% -20px);
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid 4px #622804;
  border-radius: 32px;
}

.card img {
  transform: scale(0.8);
}

.card h3 {
  text-align: center;
  font-weight: 800;
  color: #622804;
}

.card-info-price {
  display: flex;
  align-items: center;
}

.card-info-price p {
  width: 80%;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #a6744c;
}

.card-info-price button {
  transform: scale(0.8);
  border-radius: 0%;
}
