<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulário de Produto</title>
    <link rel="stylesheet" href="formProduct.css" />
  </head>
  <body>
    <div class="form-product-container">
      <div class="form-product-header">
        <h3>Formulário de Produto</h3>
      </div>
      <form class="formProduct">
        <div class="inputs-product-container">
          <label for="nameProduct">Nome do Produto</label>
          <input
            type="text"
            name="nameProduct"
            id="nameProduct"
            placeholder="Nome do produto"
          />
          <label for="imageProduct">Imagem para o Produto</label>
          <input
            type="file"
            name="imageProduct"
            id="imageProduct"
            placeholder="Imagem para o produto"
          />
          <label for="slugProduct">Link para o Produto</label>
          <input
            type="text"
            name="slugProduct"
            id="slugProduct"
            placeholder="Slug-do-produto"
          />
          <label for="priceProduct">Preço do Produto</label>
          <input
            type="text"
            name="priceProduct"
            id="priceProduct"
            placeholder="Preço do produto"
          />
          <input type="submit" value="Enviar" />
        </div>
      </form>
    </div>
  </body>
</html>
