#contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-size: 22px;
  border: none !important;
  color: #622804;
}

input {
  margin: 10px;
  padding: 10px;
  width: 300px;
  border: 4px solid #622804;
  border-radius: 5px;
}

label {
  align-self: flex-start;
  margin: 12px;
}

textarea {
  margin: 10px;
  padding: 10px;
  width: 300px;
  border: 4px solid #622804;
  border-radius: 5px;
}

button {
  margin: 10px;
  padding: 10px;
  width: 300px;
  border: 4px solid #622804;
  border-radius: 5px;
  background-color: #622804;
  color: #fffdeb;
  font-size: 22px;
  cursor: pointer;
}
