<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulário de Banners</title>
    <link rel="stylesheet" href="formBanner.css" />
  </head>
  <body>
    <div class="form-banner-container">
      <div class="form-banner-header">
        <h3>Formulário de Banners</h3>
      </div>
      <form class="formBanner">
        <div class="inputs-banner-container">
          <label for="imageBanner">Imagem para o Banner</label>
          <input
            type="file"
            name="imageBanner"
            id="imageBanner"
            placeholder="Imagem para o banner"
          />
          <label for="titleBanner">Título para o Banner</label>
          <input
            type="text"
            name="titleBanner"
            id="titleBanner"
            placeholder="Título do banner"
          />
          <label for="descriptionBanner">Descrição para o Banner</label>
          <input
            type="text"
            name="descriptionBanner"
            id="descriptionBanner"
            placeholder="Descrição para o banner"
          />
          <label for="typeBanner">Qual o tipo do Banner</label>
          <select name="typeBanner" id="typeBanner">
            <option value="#" selected>Escolha o tipo</option>
            <option value="home">Home</option>
            <option value="contact">Contato</option>
          </select>
          <input type="submit" value="Enviar" />
        </div>
      </form>
    </div>
  </body>
</html>
