.login-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.login-header {
  text-align: center;
  margin-bottom: 20px;
  padding: 20px;
}

.login-form {
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-link {
  display: flex;
  text-align: left;
  margin: 20px;
}

.register-link a {
  font-size: medium;
  font-weight: 700;
  color: #622804;
  cursor: pointer;
  padding-left: 10px;
}
