.header-home-container{
  position: fixed;
    top: 0;
    width: 100%;
    z-index: 500;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); Optional: Add a shadow for better visibility
}
.slide-show-principal {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding-top: 200px;
}

.card-container-home {
  display: flex;
  padding-top: 100px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transform: scale(0.9);
  margin: 0; /* Added to remove margin between elements */
}

.contact-container {
  display: flex;
  padding-top: 100px;
  justify-content: space-between;
  margin: 0; /* Added to remove margin between elements */
}
.slide-show-contact {
  width: 50%;
  transform: scale(1.1);
}
.slide-show-contact h3 {
  top: 20%;
}
.contact-form {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.footer-container {
  display: flex;
  width: 100%;
  margin-top: 27px;
  justify-content: center;
  align-items: center;
  height: 75px;
  background-color: #622804;
}
